<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/kloss/raw/upload/v1604560504/animate/animate_ehc4z3.css">
  <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/kloss/raw/upload/v1604560508/css-hamburgers/hamburgers.min_fltuys.css">
  <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/kloss/raw/upload/v1604560509/select2/select2.min_umnxya.css"> </head>
<body style="margin: 0;">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt> </div>
        <form class="login100-form validate-form"> <span class="login100-form-title">
						kloss
					</span>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
           
                <div class="container-login100-form-btn">
                  <div class="google-btn">
                    <div class="google-icon-wrapper"> <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /> </div>
                    <p class="btn-text">
                      <%- if devise_mapping.omniauthable? %>
                        <%- resource_class.omniauth_providers.each do |provider| %>
                          <%= link_to "Sign in with Goole", omniauth_authorize_path(resource_name, provider) %><br />
                            <% end %>
                              <% end %>
                    </p>
                  </div>
                </div>
                <div class="text-center p-t-12">
                  
                  <div style="
    text-align: start;
"> <span class="txt3">
						klossは新しいインスパイアを世界中の人に届けることがklossの使命です。klossはどんな人でも利用することができるサービスです。
						</span> </div>
                </div>
        
        </form>
      </div>
              <div class="copyright"> ©︎2021 kloss </div>
    </div>
  </div>
    <% end %>
    <%= javascript_include_tag "users" %>
</body>
</html>