<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<hr>
<p><span>email: </span><%= @user.email %></p>
<% @books.each do |book| %>
  <hr>
  <p><span>タイトル: </span><%=link_to book.title, book_path(book.id) %></p>
<% end %>