<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<p><span>email: </span><%= @user.email %></p> 
<p><span>タイトル: </span><%= @book.title %></p>
<p><span>内容: </span><%= @book.text %></p>