/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
    font-family: Roboto-Medium;
    src: url('https://res.cloudinary.com/kloss/raw/upload/v1604572955/Roboto/Roboto-Medium_dsztfj.ttf'); 
  }
@font-face {
    font-family: headster;
    src: url('https://res.cloudinary.com/kloss/raw/upload/v1604562436/fonts/headster/Headster-RegularDemo_tqz2a5.ttf'); 
  }
@font-face {
    font-family: Poppins-Regular;
    src: url('https://res.cloudinary.com/kloss/raw/upload/v1604559323/fonts/poppins/Poppins-Regular_jfm2jk.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('https://res.cloudinary.com/kloss/raw/upload/v1604559322/fonts/poppins/Poppins-Bold_nvyags.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('https://res.cloudinary.com/kloss/raw/upload/v1604559323/fonts/poppins/Poppins-Medium_uvolpk.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('https://res.cloudinary.com/kloss/raw/upload/v1604559320/fonts/montserrat/Montserrat-Bold_wtduqk.ttf'); 
  }
  @font-face {
    font-family: FontAwesome;
    src: url("https://use.fontawesome.com/releases/v5.15.1/css/all.css"); 
  }
  .icon1{
      position: absolute;
  }